<!DOCTYPE html>
<html lang="en" class="{{ 'dark' if dark_mode else '' }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AnsiblePower</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'partials/_header.html' %}
    <div class="main-container">
        {% include 'partials/_sidebar.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
